.container {
    /*background-color: black;*/
    border-style: solid;
    margin-bottom: 1em;;
}

.encabezado {
    width: 90%;
    margin: 0 auto;
    /*background-color: black;*/
    padding-bottom: 5%;
}

.encabezado h1, p {
    text-align: center;
}

.encabezado p {
    font-style: italic;
}

.nuevopost {
    border-style: solid;
    border-radius: 20px 20px 20px 20px;
    background-color: white;
    margin: auto 10px;
    padding: 10px;
}

.nuevopost h3 {
    margin: 10px 0 auto 15px;
}

.formulariopost {
    background-color: white;
    display: flex;
    flex-direction: row;
}

.campospost {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 80%;
}

.campospost input {
    margin: 6px;
}

.campospost .contenidopost {
    height: 100px;
    margin: 6px 6px;
}

.botonguardar {
    width: 20%;
}

.botonguardar button {
    width: 80%;
    margin: 5% 9%;
}

.listado-post {
    border-radius: 20px 20px 20px 20px;
    background-color: white;
    margin: auto 10px;
    padding: 10px;
}

.post {
    margin: .5em 0em;
}

.post .seccion-a {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0em .5em;
}

.post .seccion-b {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.post-imagen {
    width: 100px;
    height: 100px;
    margin: 0 0 10px 0;
}

.post-imagen img {
    width: auto;
    height: 100%;
    margin: 0 auto;

}

.post-contenido {
    width: 73%;
}

.titulo-componente {
    color: forestgreen;
}  